{% extends 'base.html' %}

{% block title %}
Главная сраница
{% endblock %}

{% block body %}
<div class="container">
<div class="container pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Создание статей на английском</h1>
      <p class="fs-5 text-muted">Подборка: 3 полезных сервисов для написания статей на английском</p>
    </div>
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Linguix.com</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/в месяц</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Просто введите то, что вы хотите сказать, и сразу же получите яркое, четкое и безошибочное сообщение/контент.</li>
                  <li>Автоматизируйте повседневные задачи ввода с помощью ярлыков. Расширяйте длинные тексты сокращениями из одного слова и экономьте массу времени!</li>
                  <li>С нашим новым механизмом перефразирования вы можете получить рекомендации по тому, как сделать текст четким, убедительным и родным.</li>
                </ul>
                <a href="https://habr.com/ru/post/449518/" class="w-100 btn btn-lg btn-primary">Перейти на сайт</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Vocabulary.com</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/в месяц</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Ищете ли вы конкретное слово или просто просматриваете, вы найдете вселенную дружественных объяснений и забавных действий, предназначенных для обучения и развлечения.</li>
                  <li>Играйте в игры и соревнуйтесь в мероприятиях самостоятельно или с участниками со всего мира. С нашим передовым алгоритмом обучения и учебными инструментами будьте готовы к тому, что ваш словарный запас расширится!</li>
                  <li>Лучший способ учить слова</li>
                </ul>
                <a href="https://www.vocabulary.com/" class="w-100 btn btn-lg btn-primary">Перейти на сайт</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Upwork.com</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">/в месяц</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Мой выбор для поиска редакторов-нейтивов – сайт Upwork. У него есть множество преимуществ: огромное количество носителей языка с разным уровнем опыта, живущими в разных англоговорящих странах.</li>
                  <li>Поскольку конкуренция между фрилансерами высока, они работают оперативно, не «ломят» цены, вычитать стандартный блог-пост можно за $10-20 – и это сделает не ноунейм из Fluent Express, а реальный специалист.</li>
                </ul>
                <a href="https://www.upwork.com/" class="w-100 btn btn-lg btn-primary">Перейти на сайт</a>
              </div>
            </div>
          </div>
        </div>

        <h2 class="display-10 text-center mb-4">Для подробной информации можете перейти по кнопке "Перейти на сайт"</h2>
      </main>
    </div>
{% endblock %}