{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
  <h1 class="container">Все статьи</h1>
  {% if articles|length > 0 %}
  {% for el in articles %}
  <div class="container alert alert-info">
    <h2>{{ el.title }}</h2>
    <p>{{ el.intro }}</p>
    <p><b>Дата:{{ el.data.date() }}</b></p>
    <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
  </div>
  {% endfor %}
    {% else %}
      <p class="container">У нас нет статей на сайте</p>
    {% endif %}
{% endblock %}